.result {
  margin-top: 1rem;
  padding: 1rem;
  font-weight: bold;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 90px;
}
.img-ahorcado {
  width: 100%;
  height: 600px;
  padding: 0px 0px 0px 120px;
  background: url("../../../../../assets/img/hoja.png");
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  margin-top: 20px;
  width: 400px;
}
.teclado {
  margin-top: 20px;
  width: 100%;
}
.marcador {
  font-weight: bold;
  font-size: 50px;
}
.hola {
  background: url("../../../../../assets/img/hoja.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 20px;
}
